satpy
matplotlib
netcdf4
pyproj
pyspectral
hdf5plugin
herbie-data
cffi==1.16.0
eumdac
boto3
owslib
rioxarray
cartopy
shapely
ascat==2.1.1
pystac-client
odc-stac
ib
pystac-client
odc-stac
eccodes
git+https://github.com/blaylockbk/Carpenter_Workshop.git